@font-face{
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Bold.eot');
    src: url('../fonts/RobotoSlab-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/RobotoSlab-Bold.woff2') format('woff2'),
        url('../fonts/RobotoSlab-Bold.woff') format('woff'),
        url('../fonts/RobotoSlab-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.eot');
    src: url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/Roboto-Bold.woff') format('woff'),
        url('../fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.eot');
    src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff'),
        url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
html{
    font-size: 14px;
}
body{
    padding-top: 75px;
    margin: 0;
}
.clr:after{
    content: "";
    display: block;
    clear: both;
}
input{
    margin: 0;
}
input,
textarea{
    box-sizing: border-box;
}
h1{
    text-align: center;
    margin-bottom: 65px;
    font-size: 30px;
    color: #1f222c;
    font-family: "Roboto Slab";
    font-weight: 700;
    margin-top: 0;
}
h2{
    margin: 0 0 28px;
    font-size: 20px;
    letter-spacing: 0px;
    color: #b3b3b3;
    font-family: "Roboto";
    font-weight: 700;
    text-transform: uppercase;
}
h3{
    font-size: 18px;
    color: #1f222c;
    font-family: "Roboto";
    font-weight: 700;
}
.wrapper{
    margin: 0 100px;
}
.four-table,
.after-main,
main,
header{
    padding-bottom: 50px;
    border-bottom: 1px solid #dcdcde;
    margin-bottom: 50px;
}
.first-form{
    width: 330px;
}
.text{
    width: 100%;
    padding: 11px 15px;
}
footer input,
.text{
    padding: 11px 15px;
    font-size: 14px;
    color: #b3b3b3;
    font-family: "Roboto";
    font-weight: 400;
}
.first-form input{
    margin-bottom: 10px;
}
footer input,
.first-form input{
    border-radius: 3px;
    border: 1px solid #c5c5d4;
}
select{
    border: 1px solid #c5c5d4;
    box-sizing: border-box;
    border-radius: 3px;
}
.abouts{
    margin-bottom: 10px;
}
.about{
    color: black;
    -webkit-appearance: none;
    appearance: none;
    position: relative;
}
.select{
    position: relative;
}
form .select:before{
    content: "";
    position: absolute;
    width: 10px;
    height: 9px;
    right: 17px;
    top: 5px;
    background: url(../img/Rectangle\ 3.png) no-repeat;    z-index: 1;
}
.submit{
    width: 100%;
    padding: 11px 15px;
    background-color: #12d661;
    border: #12d661;
    font-size: 14px;
    color: #ffffff;
    font-family: "Roboto";
    font-weight: 700;
    text-align: center;
    border: none;
}
textarea.texts{
    border: 1px solid #c5c5d4;
    box-sizing: border-box;
    border-radius: 3px;
    height: 130px;
    padding: 14px 15px 10px;
    margin-bottom: 10px;
    resize: vertical;
    min-height: 130px;
    max-height: 130px;
}
.seconde-form,
.third-form{
    float: left;
}
.seconde-form{
    width: 166px;
}
.third-form{
    width: 350px;
}
.last-menu .four-p-lt-mn,
.third-form p,
.seconde-form p{
    margin: 0 0 20px 10px;
}
[type="radio"],
[type="checkbox"]{
    visibility: hidden;
}
.people label,
.gender p label,
.seconde-form label{
    position: relative;
}
.seconde-form input+label:before{
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    left: -25px;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin: 0;
}
.people input:checked+label:before,
.seconde-form input:checked+label:before{
    border-color: #3e6aff;
}
.third-form input:disabled+label:before,
.seconde-form input:disabled+label:before{
    background-color: #f7f7f7;
}
.seconde-form input:checked+label:after{
    content: "";
    position: absolute;
    width: 7px;
    height: 7px;
    top: 5px;
    left: -20px;
    background-color: #3e6aff;
    border-radius: 50%;
}
.seconde-form p label{
    font-size: 14px;
    color: #1f222c;
    font-family: "Roboto";
    font-weight: 400;
}
.third-form p:last-child label,
.seconde-form p:last-child label{
    font-size: 14px;
    color: #b3b3b3;
    font-family: "Roboto";
    font-weight: 400;
}
.last-menu .four-p-lt-mn label,
.four-form label,
.third-form label{
    position: relative;
}
.four-form label:before,
.last-menu .four-p-lt-mn label:before,
.third-form label:before{
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    left: -26px;
    border-radius: 3px;
    border: 1px solid #ccc;
}
.last-menu .four-p-lt-mn input:checked+label:before,
.four-form input:checked+label:before,
.third-form input:checked+label:before{
    border-color: #3e6aff;
}
.last-menu .four-p-lt-mn input:checked+label:after,
.four-form input:checked+label:after,
.third-form input:checked+label:after{
    content: "";
    position: absolute;
    width: 6px;
    height: 3px;
    top: 5px;
    left: -21px;
    transform: rotate(-45deg);
    border-bottom: 1.5px solid #244dd7;
    border-left: 1.5px solid #244dd7;
}
.four-form{
    width: 472px;
    height: 112px;
    float: right;
    background-color: #f7f7f7;
    border-radius: 3px;
    border: 1px solid #e5e5e5;
    box-sizing: border-box;
}
.four-form p{
    display: inline-block;
    margin: 0;
    margin-right: 34px;
}
.four-form .last,
.four-form p:first-child{
    font-size: 14px;
    color: #b3b3b3;
    font-family: "Roboto";
    font-weight: 700;
    padding: 24px 20px 16px;
    box-sizing: border-box;
    margin: 0;
    margin-right: 14px;
}
.four-form .last{
    padding: 16px 20px 24px;
    margin-right: 16px;
}
.data-form label input{
    width: 152px;
    border-radius: 3px;
    border: 1px solid #cccccc;
    padding: 0 14px;
    box-sizing: border-box;
    padding: 9px;
}
.four-form .data-form label:before{
    content: "";
    position: absolute;
    width: 20px;
    height: 21px;
    top: -3px;
    left: 115px;
    background-image: url(../img/Forma\ 1.png);
    background-position: 0 0;
    border: none;
    border-radius: 0;
}
.first-form .files{
    font-size: 14px;
    color: #ffffff;
    font-family: "Roboto";
    font-weight: 700;
    text-align: center;
    padding: 16px 37px 12px 38px;
    border-radius: 3px;
    background-color: #3e6aff;
    box-sizing: border-box;
    position: relative;
}
.file{
    position: absolute;
    visibility: hidden;
    width: 171px;
}
.files{
    display: inline-block;
    margin-bottom: 10px;
}
.gender{
    padding-left: 55px;
    width: 275px;
    float: left;
}
.gender p{
    margin: 0;
    padding: 30px 0;
}
.women,
.men{
    padding-left: 15px;
}
.gender .men input+label:before{
    content: "";
    position: absolute;
    width: 72px;
    height: 72px;
    left: -72px;
    top: -28px;
    background: url(../img/people.png) no-repeat;
    background-position: 0 0;
}
.gender .women input+label:before{
    content: "";
    position: absolute;
    width: 72px;
    height: 72px;
    left: -72px;
    top: -28px;
    background: url(../img/people.png) no-repeat;
    background-position: 0 -72px;
}
.gender .men input:checked+label:after{
    content: "";
    position: absolute;
    width: 72px;
    height: 72px;
    left: -72px;
    top: -28px;
    background: url(../img/people.png) no-repeat;
    background-position: -72px 0;
}
.gender .women input:checked+label:after{
    content: "";
    position: absolute;
    width: 72px;
    height: 72px;
    left: -72px;
    top: -28px;
    background: url(../img/people.png) no-repeat;
    background-position: -72px -72px;
}
.gender .men input:checked+label,
.gender .women input:checked+label{
    color: #3e6aff;
}
.genders{
    padding-left: 112px;
    width: 238px;
    float: left;
}
.genders p{
    margin: 0;
    padding: 15px 0;
}
.genders label{
    position: relative;
    padding-left: 19px;
}
.genders label:before{
    content: "";
    position: absolute;
    width: 45px;
    height: 25px;
    left: -45px;
    top: -3px;
    border-radius: 25px;
    background-color: #cfcfd1;
}
.genders label:after{
    content: "";
    position: absolute;
    width: 21px;
    height: 21px;
    top: -0.5px;
    left: -42px;
    background-color: #ffffff;
    border-radius: 50%;
}
.genders input:checked+label:before{
    background-color: #3e6aff;
}
.genders input:checked+label:after{
    left: -23px;
    background-color: #ffffff;
}
.first-forms tbody tr:last-child th input{
    margin-bottom: 0;
}
.first-form{
    text-align: left;
    font-size: 14px;
    color: #1f222c;
    font-family: "Roboto";
    font-weight: 400;
}
.first-forms,
.ff{
    width: 500px;
}
.first-text p{
    width: 158px;
    font-size: 14px;
    color: #1f222c;
    font-family: "Roboto";
    font-weight: 400;
}
.first-text{
    width: 160px;
}
.koment{
    padding-top: 0;
    padding-bottom: 100px;
}
.people p{
    display: inline-block;
}
.people input+label:before{
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    left: -25px;
    border-radius: 50%;
    border: 1px solid #ccc;
}
.people input:checked+label:after{
    content: "";
    position: absolute;
    width: 7px;
    height: 7px;
    top: 5px;
    left: -20px;
    border-radius: 50%;
    background-color: #3e6aff;
}
.first-footer{
    padding-bottom: 30px;
    border-bottom: 1px solid #dcdcde;
    margin-bottom: 45px;
    width: 680px;
}
footer{
    margin-bottom: 144px;
}
footer h3{
    margin-bottom: 42px;
}
.second-footer input,
.first-footer input{
    width: 219px;
    height: 40px;
}
footer td{
    position: relative;
}
footer span{
    position: absolute;
    margin: 0;
    top: -20px;
    font: 400 13px "Roboto";
    color: #b3b3b3;
}
.second-footer{
    width: 680px;
}
.second-footer .footer-city{
    width: 219px;
}
.second-footer .footer-menu{
    margin-bottom: 38px;
}
.footer-text{
    width: 450px;
}
.second-footer input,
.second-footer select,
.first-footer input{
    margin: 0 10px 0 -3px;
}
.footer-menus{
    margin-bottom: 28px;
}
.menu-footer{
    width: 680px;
    margin-bottom: 30px;
    padding-bottom: 28px;
    border-bottom: 1px solid #dcdcde;
}
.menu-footer p{
    width: 680px;
    margin-bottom: 0;
}
.baton{
    width: 180px;
    height: 43px;
    background-color: #ffffff;
    border: 1px solid #84868d;
    text-align: center;
    padding: 0 15px;
    font-size: 14px;
    color: #6e6f77;
    font-family: "Roboto";
    font-weight: 700;
}
.last-form{
    display: block;
    width: 680px;
}
.first-last-form{
    float: left;
}
.second-last-form{
    float: right;
}
.second-baton{
    width: 180px;
    height: 43px;
    border-radius: 3px;
    background-color: #12d661;
    border: none;
    color: #ffffff;
    font-size: 14px;
    font-family: "Roboto";
    font-weight: 700;
}
.last-menu{
    width: 310px;
    height: 282px;
    border-radius: 5px;
    filter: drop-shadow(0px 5px 6px rgba(0,0,0,0.15));
    background-color: #fafafa;
    border: 1px solid #e6e6e6;
}
.last-menu p{
    position: relative;
    margin: 0;
    padding-right: 25px;
    padding-left: 25px;
}
.last-menu a{
    font-size: 13px;
    color: #3e6aff;
    font-family: "Roboto";
    font-weight: 400;
    text-decoration: none;
}
.last-menu span{
    position: absolute;
    margin: 0;
    top: -20px;
    font: 400 13px "Roboto";
    color: #b3b3b3;
}
.last-menu .special-span{
    position: absolute;
    margin: 0;
    top: 20px;
    font: 400 13px "Roboto";
    color: #b3b3b3;
}
.lt-mn{
    width: 260px;
    height: 36px;
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
}
.last-menu p:first-child{
    padding-top: 40px;
    padding-bottom: 32px;
}
.third-p-lt-mn,
.seconde-p-lt-mn{
    padding-bottom: 12px;
}
.four-p-lt-mn{
    padding-bottom: 15px;
}
.bat{
    width: 260px;
    height: 43px;
    border-radius: 3px;
    background-color: #12d661;
}
.last-menu .four-p-lt-mn{
    margin-bottom: 0;
}
.fixed{
    position: fixed;
    top: 177px;
    right: 102px;
}
.footer-menu .fm-td input{
    width: 450px;
}